In [1]:
import pandas as pd

Reading in data from a CSV that I will want to aggregate later. To do this I will need to clean some of the inputs to remove special characters and ensure proper data type. Column Saved was verified with the sources Data dictionary as incorrectly containing negative values.

In [2]:
df = pd.read_csv("Louisville_Metro_KY_-_Fire_Property_Damage.csv")
df.head()

,inci_no,Alm_Date,Address,Inci_type,Content_Loss,Property_Loss,Total_Loss,Pre_Inci_Value,Saved,ObjectId
0,17-0000034,2017/01/01 05:00:00+00,1551 W ORMSBY Louisville KY 40210,"100 - Fire, other",100.0,0.0,100,67320,67220,1
1,17-0000088,2017/01/01 05:00:00+00,1442 W SOUTHERN HEIGHTS Louisville KY 40215,"441 - Heat from short circuit (wiring), defect...",100.0,NaN,100,65000,64900,2
2,17-0000222,2017/01/02 05:00:00+00,3012 S 5th Louisville KY 40208,111 - Building fire,8000.0,56040.0,64040,56040,-8000,3
3,17-0000192,2017/01/02 05:00:00+00,3320 Bank Louisville KY 40212,131 - Passenger vehicle fire,NaN,4500.0,4500,5000,500,4
4,17-0000222,2017/01/02 05:00:00+00,3012 S 5th Louisville KY 40208,111 - Building fire,0.0,61000.0,61000,61000,0,5

My choice of cleaning actions are to: change data type to str, correct negative values to 0 for future aggregation, change data types back to numeric so agg functions work, and rename Saved column to Protected because an extra feature felt like a good choice.

In [3]:
df['Saved'] = df['Saved'].astype(str)

df.loc[df['Saved'].str.startswith('-'), 'Saved'] = '0'

df['Saved'] = pd.to_numeric(df['Saved'])

df.rename(columns={'Saved': 'Protected'}, inplace=True)

df.head()

,inci_no,Alm_Date,Address,Inci_type,Content_Loss,Property_Loss,Total_Loss,Pre_Inci_Value,Protected,ObjectId
0,17-0000034,2017/01/01 05:00:00+00,1551 W ORMSBY Louisville KY 40210,"100 - Fire, other",100.0,0.0,100,67320,67220,1
1,17-0000088,2017/01/01 05:00:00+00,1442 W SOUTHERN HEIGHTS Louisville KY 40215,"441 - Heat from short circuit (wiring), defect...",100.0,NaN,100,65000,64900,2
2,17-0000222,2017/01/02 05:00:00+00,3012 S 5th Louisville KY 40208,111 - Building fire,8000.0,56040.0,64040,56040,0,3
3,17-0000192,2017/01/02 05:00:00+00,3320 Bank Louisville KY 40212,131 - Passenger vehicle fire,NaN,4500.0,4500,5000,500,4
4,17-0000222,2017/01/02 05:00:00+00,3012 S 5th Louisville KY 40208,111 - Building fire,0.0,61000.0,61000,61000,0,5